footer{
    text-align: center;
    h3{
         margin: 2em;
    }
        .logo-fb{
            width: 3rem;
        }
        .logo-wsp{
            width: 4rem;
        }
        .logo-gmail{
            width: 2.5rem;
        }
        .logo-insta{
            width: 4rem;
        }
    }

   
