

footer{
    background-color: nth($colores: 3 ) ;
    padding : 80px 0 ;
                
    .contenedor-footer{
        max-width: 1200px;
        margin: 0 auto ;
        }
    
    .footer-row{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-links{
        width: 25%;
        padding: 0 15px;        
    
            h4{
             font-size: 20px;
             color: nth($colores:  1 );
             margin-bottom: 25px;
             font-weight: 500;
             border-bottom: 2px solid nth($colores: 4 );
             padding-bottom: 10px;
             display: inline-block;             
            }
            ul{
                 li{
                    a{
                          font-size: 10px;
                        text-decoration: none;
                         color:nth($colores: 5 );
                         display: block;
                         margin-bottom: 15px;
                       transition: all .3s ease;

                    }
                    a:hover{
                        color: nth($colores: 1 );
                        padding-left: 6px;
                    }
                   }
                  }
                } 
    
         .social-link{
            a{
                display: inline-block;
                min-width: 40px;
                width: 40px;
                background-color: nth($colores: 3 );
                margin: 0 20px 10px 0 ;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                color: nth($colores: 1 );
                transition: all .5 ease;
             }
           a:hover{
            background-color: nth($colores: 3 );
            }
        }
        @media (max-width:991px) {
            .contenedor-footer{
                text-align: center;

             
            }
            .footer-links{
                width: 100%;
                margin-bottom: 30px;
            }
          }
    }
    

    
               



